
  header{
    width: 850px;
    background-color: blue;
  }
.leftside {
 width: 328px;
 height:200px;
 border: 1px solid black;
 float: left;
}
.rightside{
    width: 512px;
    height: 200px;
    border: 1px solid black;
    float: left;
    margin-left: 10px;
}